<!-- navbar  -->
<mat-toolbar class="bg-cover" ngClass="{{ background }}">
  <button
    class="!block md:!hidden"
    (click)="opened = !opened"
    mat-icon-button
    aria-label="menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="!block md:!hidden">Portfolio</span>
  <span class="flex-auto"></span>
  <div class="!hidden md:!block">
    <button mat-button routerLink="/portfolio/home" routerLinkActive="mat-warn">
      Home
    </button>
    <button
      mat-button
      routerLink="/portfolio/skills"
      routerLinkActive="mat-warn"
    >
      Skills
    </button>
    <button
      mat-button
      routerLink="/portfolio/projects"
      routerLinkActive="mat-warn"
    >
      Projects
    </button>
    <button
      mat-button
      routerLink="/portfolio/about"
      routerLinkActive="mat-warn"
    >
      About
    </button>
    <button
      mat-button
      routerLink="/portfolio/contact"
      routerLinkActive="mat-warn"
    >
      Contact
    </button>
  </div>
</mat-toolbar>
<!-- sidenav  -->
<mat-sidenav-container
  class="h-full md:h-[calc(100%_-_65px)] bg-cover bg-no-repeat"
  ngClass="{{ background }}"
>
  <mat-sidenav
    [(opened)]="opened"
    class="w-44 border-none"
    ngClass="{{ background }}"
    #sidenav
  >
    <img class="avatar mat-elevation-z8" src="bg-avatar-image" />

    <h4 class="name text-center">Naman Gupta</h4>
    <p class="designation text-center">Software Engineer</p>

    <mat-divider></mat-divider>
    <div class="leading-3 p-3">
      <button
        mat-icon-button
        routerLink="/portfolio/home"
        routerLinkActive="mat-accent"
        (click)="sidenav.close()"
      >
        <mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-sans">Home</span>
      </button>
      <br /><br />
      <button
        mat-icon-button
        routerLink="/portfolio/skills"
        routerLinkActive="mat-accent"
        (click)="sidenav.close()"
      >
        <mat-icon>vertical_split</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-sans">Skills</span></button
      ><br /><br />
      <button
        mat-icon-button
        routerLink="/portfolio/projects"
        routerLinkActive="mat-accent"
        (click)="sidenav.close()"
      >
        <mat-icon>work</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-sans">Projects</span></button
      ><br /><br />
      <button
        mat-icon-button
        routerLink="/portfolio/about"
        routerLinkActive="mat-accent"
        (click)="sidenav.close()"
      >
        <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-sans">About</span>
      </button>
      <br /><br />
      <button
        mat-icon-button
        routerLink="/portfolio/contact"
        routerLinkActive="mat-accent"
        (click)="sidenav.close()"
      >
        <mat-icon>call</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-sans">Contact</span></button
      ><br />
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
