<!-- navbar  -->
<mat-toolbar class="mat-elevation-z8">
  <button
    class="!block md:!hidden"
    (click)="opened = !opened"
    mat-icon-button
    aria-label="menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Portfolio</span>
  <span class="flex-auto"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- sidenav  -->
<mat-sidenav-container class="h-screen">
  <mat-sidenav [(opened)]="opened" class="w-full">
    <a>Home</a>
  </mat-sidenav>
  <mat-sidenav-content> End </mat-sidenav-content>
</mat-sidenav-container>
