<section class="text-center">
  <div class="bg-gray-700">
    <h1 data-var="About Me">About Me</h1>
  </div>
  <div
    class="mt-5 p-5 grid overflow-hidden grid-cols-1 md:grid-cols-3 grid-rows-1 md:grid-rows-2 gap-10 grid-flow-row"
  >
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">person</mat-icon>
        <p class="font-sans">
          Hi, myself <b>Naman Gupta</b>. I am currently working in
          <b>ARI Simulation</b> as a <b>full stack</b> developer. Technologies I
          am familiar with are Angular, Node js, Express Js, PostGreSql. I have
          also worked on C# and Java based projects, but would still prefer the
          above stack.
        </p>
      </div>
    </mat-card>
    <!-- 2-3 effect  -->
    <div></div>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">group</mat-icon>
        <p class="font-sans">
          I believe in <b>working in teams</b>, since the only efficient way to
          improve in programming is to <b>learn new apporach</b> and
          <b>discuss knowledge</b> amongst the peers. I have also trained junior
          engineers and interns with the same approach.
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">location_city</mat-icon>
        <p class="font-sans">
          I reside from <b>the city of Jammu in the state Jammu and Kashmir</b>.
          A beautiful place to travel, but not really considered an
          <b> epitomy for education and jobs </b>. These lack of constructs make
          me passionate to travel around, learn and implement.
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">public</mat-icon>
        <p class="font-sans">
          I have been pursuing <b>public speaking</b> since I was in school,
          therefore I am quite <b>adept at communicating</b> with peers and
          clients. Moreover I am quite fond of learning new languages so that I
          can interact more diversly.
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">party_mode</mat-icon>
        <p class="font-sans">
          My major hobby has been <b>programming</b>. Little did I know, it
          would turn into my major bread earning. Would never get bored of
          <b> implementing new stacks </b>. Moreover reading novels, playing
          indoor sports, and travelling and also a few hobbies I like to pursue.
        </p>
      </div>
    </mat-card>
  </div>
  <br class="block md:hidden" />
</section>
