<section class="text-center">
  <div class="bg-gray-700">
    <h1 data-var="About Me">About Me</h1>
  </div>
  <div
    class="mt-5 p-5 grid overflow-hidden grid-cols-1 md:grid-cols-3 grid-rows-1 md:grid-rows-2 gap-10 grid-flow-row"
  >
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">person</mat-icon>
        <p class="font-sans">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
          veritatis culpa nostrum quisquam quas iusto saepe debitis!
          Perspiciatis similique ex, exercitationem ea nemo tempora facere ut
          quod nihil, ipsam incidunt!
        </p>
      </div>
    </mat-card>
    <!-- 2-3 effect  -->
    <div></div>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">group</mat-icon>
        <p class="font-sans">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
          veritatis culpa nostrum quisquam quas iusto saepe debitis!
          Perspiciatis similique ex, exercitationem ea nemo tempora facere ut
          quod nihil, ipsam incidunt!
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">location_city</mat-icon>
        <p class="font-sans">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
          veritatis culpa nostrum quisquam quas iusto saepe debitis!
          Perspiciatis similique ex, exercitationem ea nemo tempora facere ut
          quod nihil, ipsam incidunt!
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">public</mat-icon>
        <p class="font-sans">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
          veritatis culpa nostrum quisquam quas iusto saepe debitis!
          Perspiciatis similique ex, exercitationem ea nemo tempora facere ut
          quod nihil, ipsam incidunt!
        </p>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z8 rounded bg-transparent">
      <div>
        <mat-icon class="!text-[5em] mr-16">party_mode</mat-icon>
        <p class="font-sans">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
          veritatis culpa nostrum quisquam quas iusto saepe debitis!
          Perspiciatis similique ex, exercitationem ea nemo tempora facere ut
          quod nihil, ipsam incidunt!
        </p>
      </div>
    </mat-card>
  </div>
  <br class="block md:hidden" />
</section>
