<section class="text-center overflow-y-hidden">
  <!-- Heading  -->
  <div class="one text-6xl">
    <h1>Get In Touch</h1>
  </div>
  <div class="m-8">
    <button
      mat-raised-button
      color="warn"
      class="rounded w-56 h-12 text-xl"
      style="font-family: 'Kanit', 'sans-serif'"
      (click)="downloadResume()"
    >
      Download Resume
    </button>
    <div
      class="m-8 flex flex-col md:flex-row justify-center space-y-5 md:space-y-0 md:space-x-10"
    >
      <mat-card class="bg-transparent mat-elevation-z8">
        <mat-card-header class="justify-center text-2xl mr-9 mb-2"
          >Email To</mat-card-header
        >
        <mat-divider></mat-divider>
        <a
          class="m-5 h-80"
          class="m-5 h-80"
          href="mailto:naman008gupta@gmail.com"
        >
          <img
            class="!m-auto h-80 w-fit cursor-pointer"
            mat-card-image
            src="./assets/images/email-icon.jpg"
            alt="Email Icon"
          />
        </a>
        <mat-divider></mat-divider>
      </mat-card>
      <mat-card class="bg-transparent mat-elevation-z8">
        <mat-card-header class="justify-center text-2xl mr-9 mb-2"
          >Linkedln</mat-card-header
        >
        <mat-divider></mat-divider>
        <a
          class="m-5 h-80"
          href="https://www.linkedin.com/in/naman-gupta-a1621b126"
        >
          <img
            class="!m-auto h-80"
            mat-card-image
            src="./assets/images/linkedln-icon.png"
            alt="Linkedln Icon"
          />
        </a>
        <mat-divider></mat-divider>
      </mat-card>

      <mat-card class="bg-transparent mat-elevation-z8">
        <mat-card-header class="justify-center text-2xl mr-9 mb-2"
          >Github</mat-card-header
        >
        <mat-divider></mat-divider>
        <a class="m-5 h-80" href="https://github.com/NamanGupta8">
          <img
            class="!m-auto h-80 justify-center"
            mat-card-image
            src="./assets/images/github-icon.png"
            alt="Github Icon"
          />
        </a>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
</section>
