<section class="text-center">
  <div class="nine">
    <h1>Skills and Dependencies<span>Skills to pay the bills !!</span></h1>
  </div>
  <div
    class="m-12 flex flex-col md:flex-row justify-center space-y-5 md:space-y-0 md:space-x-5"
  >
    <mat-card class="bg-transparent mat-elevation-z8 w-auto md:!w-5/12 h-auto">
      <mat-card-header class="justify-center text-2xl mr-9 mb-2"
        >Technical Skills</mat-card-header
      >
      <mat-divider></mat-divider>
      <mat-card-content class="m-7 font-mono">
        <span class="float-left mb-2"> HTML </span>
        <span class="float-right"> 70% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="70"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> CSS/ Bootstrap/ Tailwind </span>
        <span class="float-right"> 30% </span>
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="30"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Javascript/ Typescript </span>
        <span class="float-right"> 50% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="50"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Angular/ Rxjs </span>
        <span class="float-right"> 65% </span>
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="40"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Angular Material/ Ng-Zorro </span>
        <span class="float-right"> 60% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="40"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Node Js/ Express </span>
        <span class="float-right"> 55% </span>
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="55"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> SQL/ PostGreSql </span>
        <span class="float-right"> 40% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="40"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Unit Tests/ Clean Code </span>
        <span class="float-right"> 50% </span>
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="50"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Data Structures and Algorithms </span>
        <span class="float-right"> 30% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="30"
        ></mat-progress-bar
        ><br />

        <span class="float-left mb-2"> Web Sockets and Web API's </span>
        <span class="float-right"> 25% </span>
        <mat-progress-bar
          color="warn"
          mode="determinate"
          value="25"
        ></mat-progress-bar
        ><br />
      </mat-card-content>
    </mat-card>
    <mat-card class="bg-transparent mat-elevation-z8 w-auto md:w-5/12 h-auto">
      <mat-card-header class="justify-center text-2xl mr-9 mb-2"
        >Professional Skills</mat-card-header
      >
      <mat-divider></mat-divider>
      <mat-card-content
        class="m-7 font-mono !flex space-x-5 space-y-2 flex-row over flex-wrap"
      >
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="warn"
            mode="determinate"
            value="80"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">80%</div>
          Communication
        </div>
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="accent"
            mode="determinate"
            value="70"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">70%</div>
          Leadership
        </div>
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="warn"
            mode="determinate"
            value="60"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">60%</div>
          Pair Programming
        </div>
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="accent"
            mode="determinate"
            value="85"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">85%</div>
          Oral Presentation
        </div>
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="warn"
            mode="determinate"
            value="65"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">65%</div>
          Time Management
        </div>
        <div>
          <mat-progress-spinner
            class="example-margin"
            color="accent"
            mode="determinate"
            value="95"
            class="h-3/6"
            [diameter]="150"
          >
          </mat-progress-spinner>
          <div style="position: relative; top: -80px">95%</div>
          Team Work
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
